#abilitiesButton {
	width: 100px;
}

#abilitiesTableThead th.abilityID {
	width: 40px;
}

#abilitiesTableThead th.ability {
	width: 250px;
}

#abilitiesTableThead th.description {
	width: 400px;
}

#abilitiesFilterButton {
	padding-bottom: 5px;
}

#abilitiesTableTbody .description {
	padding: 8px;
}

@media 
only screen and (max-width: 350px) {
	#abilitiesTableTbody {
		font-size: 14px;
	}
}
