.locationTable {
    display: block !important;
	margin-bottom: 100px;
    width: 1500px;
}

.locationTableThead {
    display: inline-block !important;
    background: none;
}

.locationTableTbody {
    width: 100%;
    display: inline-table !important;
}

.methodTable {
    border: 2px solid rgba(85, 85, 85);
    width: 16.66%;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block !important;
    height: 100%;
}

.methodTableThead {
    height: 70px;
	font-weight: 700;
	cursor: default !important;
    width: 100%;
    display: inline-table !important;
    font-size: 25px;
}

.methodTableTbody {
    width: 100%;
    display: table !important;
}

#locationsTable table, #locationsTable {
	box-shadow: none !important;
}

#locationsTable .miniSprite3 {
    padding: 0 !important;
    margin: 0 !important;
}

.locationSpeciesRow:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    cursor: pointer;
}

.locationSpriteContainer {
    width: 48px;
    height: 48px;
}

.locationSprite {
    width: 42px;
    height: 42px;
    image-rendering: pixelated;
}

.locationRarity {
    padding-left: 5px;
    font-size: 17px !important;
}

@media 
only screen and (max-width: 1525px) {
    .locationTable {
        width: unset !important;
    }

    #locationsTable {
        width: 100%;
    }
}

@media 
only screen and (max-width: 1125px) {
    .methodTable {
        width: 20% !important;
    }
}

@media 
only screen and (max-width: 900px) {
    .methodTable {
        width: 25% !important;
    }
}

@media 
only screen and (max-width: 725px) {
    .methodTable {
        width: 33.33% !important;
    }
}

@media 
only screen and (max-width: 550px) {
    .methodTable {
        width: 50% !important;
    }
}

@media 
only screen and (max-width: 399px) {
    .methodTable {
        width: 100% !important;
    }
}