#overlaySpeciesPanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9000;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);
}

#speciesPanelMainContainer {
	justify-content: center;
	max-width: min(1000px, 90%);
	margin: auto;
	background: #1b1c1f;
	border: 2px solid #ccc;
  	border-radius: 14px;
}

#speciesPanelSubcontainer1, #speciesPanelSubcontainer2, #speciesBaseStatsGraphContainer, #speciesEvolutionsText, #speciesFormesText, #speciesChangesContainer {
	margin-left: 20px;
}

#speciesPanelSubcontainer1, #speciesPanelSubcontainer3, #speciesAbilitiesMainContainer, #speciesInnatesMainContainer, #speciesChangesContainer, #speciesEvolutionsMainContainer, #speciesFormesContainer {
	text-align: left !important;
}

#speciesName {
	font-size: 20pt !important;
}

#speciesID {
	font-size: 13pt !important;
	margin-left: 5px;
	color: #999999;
}

#speciesSprite {
	padding-right: 10px;
	width: 128px;
	height: 128px;
	image-rendering: pixelated;
}

.speciesPanelText {
	margin-bottom: 5px;
	font-size: 11.1pt !important;
	font-weight: 700;
	color: var(--theme-color);	
}

#speciesHeldItems, #speciesEggGroups {
	font-size: 15px;
}

#speciesPanelSubcontainer1, #speciesPanelSubcontainer2, #speciesEvolutionsMainContainer {
	padding: 15px 0px 0px 0px;
}

.speciesPanelTextPadding {
	padding: 2px 0px 7px 15px;
}
.speciesPanelAbilitiesDescriptionPadding {
	padding: 0px 0px 7px 15px;
}

#speciesChanges {
	width: max-content;
}

#speciesChangesContainer {
	margin-top: 16px;
}

.nerf {
	color: #ef5350;
}

.buff {
	color: #64dd17;
}

.changeTextAlignFlex {
	flex: 1;
	text-align: right;
}

#recommendedCoverage > span > div {
	text-align: center;
}

#recommendedCoverageContainer {
	padding-top: 20px;
	text-align: center;
}

#recommendedCoverage {
	justify-content: center;
}

.speciesPanelStatPadding {
	padding-right: 15px;
}


.evoMethod {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 5px 0px 5px 0px;
}

#speciesEvoTable {
	background: none !important;
	border: none !important;
}


#speciesEvoTableContainer {
	box-shadow: none !important;
	margin: 0% !important;
}

#statsSection {
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

#statsNames {
  display: grid;
  grid-template-rows: repeat(1fr);
  font-size: 15px;
  line-height: 0;
}


#statsNames p {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-right: 5px;
  font-weight: 700;
}



.statsGraphHeader {
	font-weight: 700;
}


#statsGraph {
  width: 200px;
  display: grid;
  grid-template-rows: repeat(1fr);
}


#statsGraph > div {
  margin: 0.4rem 0;
  filter: opacity(90%);
  border-radius: 3px;
  transition: background 0s ease-in-out !important;
}


#statsNames p:last-child, #statsGraph div:last-child {
  transform: translateY(15px);
}






.miniSprite {
	padding: 0px 15px 5px 15px;
	width: 32px;
    height: 32px;
    aspect-ratio: auto 32 / 32;
}

.miniSprite2 {
	padding-left: 5px;
	width: 32px;
    height: 32px;
    aspect-ratio: auto 32 / 32;
}

.miniSprite3 {
	padding: 0px 15px 5px 15px;
	width: 48px;
  	height: 48px;
  	aspect-ratio: auto 48 / 48;
}

[class*="typeChartOffensive"], [class*="typeChartDefensive"] {
	margin-top: 2px;
	font-size: 14px;
}

#speciesDefensiveTypeChartContainer, #speciesOffensiveTypeChartContainer {
	padding: 30px 0px 10px 0px;
}

#speciesDefensiveTypeChart, #speciesOffensiveTypeChart {
	justify-content: center;
	padding: 5px 0px 5px 0px;
}

.typeChartDefensive0, .typeChartOffensive0 {
	background: rgba(0, 0, 0, 0.7);
}

.typeChartDefensive0\.25, .typeChartDefensive0\.125 {
	background: rgb(100, 221, 23);
	font-size: 14px;
}

.typeChartDefensive0\.5, .typeChartOffensive2 {
	background: rgba(100, 221, 23, 0.7);
}

.typeChartDefensive2, .typeChartOffensive0\.5 {
	background: rgba(239, 83, 80, 0.7);
}

.typeChartDefensive4, .typeChartDefensive8 {
	background: rgb(239, 83, 80);
}

.speciesDefensiveTypeChartMarginTop, .speciesOffensiveTypeChartMarginTop {
	margin: 10px 1px 0px 1px;
	font-family: sans-serif, Arial;
}

@media
only screen and (max-width: 500px) {
  #speciesPanelMainContainer .backgroundSmall {
    width: 32px;
  }
}


#speciesPanelTablesContainer > table {
    width: 100%;
}

#speciesPanelTablesContainer > table > thead > tr > th {
    background: rgba(215, 212, 231, 0.075); 
    color: #f1f1f1; 
    font-weight: 700;
    padding: 0.5rem 0.5rem;
}

.speciesPanelLearnsetsTableMargin {
	margin-top: 75px;
	margin-bottom: 75px;
	max-width: 95%;
	font-size: min(max(2.5vw, 15px), 17px) !important;
}

.speciesPanelLearnsetsTableMargin th:hover, .speciesPanelLearnsetsTableMargin tbody tr:hover {
	background: rgba(255, 255, 255, 0.2) !important;
    cursor: pointer;
}

@media 
only screen and (max-width: 600px) {
	#speciesPanelMainContainer {
		max-width: revert !important;
		border: none !important;
	}
}

@media 
only screen and (max-width: 550px) {
	.speciesPanelLearnsetsEffect {
		display: none;
	}
}

@media 
only screen and (max-width: 375px) {
	#speciesSprite {
		width: 96px;
		height: 96px;
	}

	#speciesType1, #speciesType2, #speciesType3 {
		width: 3.5rem;
		height: 20px;
	}
}

@media 
only screen and (max-width: 350px) {
	.speciesPanelLearnsetsPP {
		display: none !important;
	}
}

@media 
only screen and (max-width: 380px) {
	#speciesSprite {
		padding-right: unset;
	}
}

@media /* resize evo conditions */
only screen and (max-width: 700px) {
	.resizeEvo3 .miniSprite3 {
		padding: 0px 5px 5px 5px !important;
	}
	.resizeEvo3 .evoMethod {
		font-size: 12px;
	}
}

@media /* resize evo conditions */
only screen and (max-width: 450px) {
	.resizeEvo2 .miniSprite3 {
		width: 32px;
		height: 32px;
		aspect-ratio: auto 32 / 32;
	}
}

@media /* resize evo conditions */
only screen and (max-width: 400px) {
	.resizeEvo1#speciesEvoTable {
		display: table-caption !important;
	}
}